/* ==UserStyle==
@name           Radio Button Fixes in Quiz
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    The name
@author         AbdullahMRiad
==/UserStyle== */

@-moz-document url-prefix("https://elmonsf.com/SimulationQuiz/") {
    .Responsive {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .radioParent{
        zoom: 200%;
    }
    
    .radioParent:nth-child(1) {
        grid-column: 1 / 2;
    }

    .radioParent:nth-child(2) {
        grid-column: 2 / 3;
    }

    .radioParent:nth-child(3) {
        grid-column: 3 / 4;
    }

    .radioParent:nth-child(4) {
        grid-column: 4 / 5;
    }
    
}